# Set the services you want here.
# Add your own docker-compose-local.yml and add local to the list for custom images
DEVC_SERVICES=postgres,pgvector-anon,redis,minio,devpi,seleniumhub,sqs,pgadmin,sentry,registry,mailhog

# Docker compoase command
DOCKER_COMPOSE_CMD=docker-compose

# Root data dir
ROOT_DATA_DIR=/Users/admin/data

## Environment
SENTRY_EMAIL_PASSWORD=12345
SENTRY_EMAIL_USER=<username>@gmail.com
SENTRY_SECRET_KEY=<any long secret>

POSTGRES_PASSWORD=12345
PG_ROOT_DATA_DIR=${ROOT_DATA_DIR}/pgdata
PG_VERSION=16
# psql -h postgres -p ${POSTGRES_PORT} -U postgres -c "DROP DATABASE db_name"
# psql -h postgres -p ${POSTGRES_PORT} -U postgres -c "CREATE DATABASE db_name"

# pg vchord vars
PG_VCHORD_VERSION=18-latest
PG_VCHORD_IMAGE="tensorchord/vchord-suite:pg${PG_VCHORD_VERSION}"
#PG_VCHORD_PORT=5488
PG_VCHORD_ROOT_DATA_DIR="${ROOT_DATA_DIR}/pgchord-${PG_VCHORD_VERSION}"

# pg anon vars
PGV_ANON_VERSION=17
PGV_ANON_IMAGE="pgvector/pgvector:pg${PGV_ANON_VERSION}-trixie"
PGV_ANON_VERSION=2.2.0
PGV_ANON_PORT=77
PGV_ANON_ROOT_DATA_DIR="${ROOT_DATA_DIR}/pganon-${PGV_ANON_VERSION}"

REDIS_PORT=6379

DEVPI_ROOT_PORT=3141
DEVPI_ROOT_PWD=password
DEVPI_DATA_DIR=${ROOT_DATA_DIR}/devpi

PGADMIN_DEFAULT_PASSWORD=12345
# http://127.0.0.1:5051/browser/
# make sure the following folder is owned by 5050:
#   mkdir -p ${PGADMIN_ROOT_DIR}/lib/pgadmin ${PGADMIN_ROOT_DIR}/certs ; sudo chown -R 5050 ${PGADMIN_ROOT_DIR}
PGADMIN_ROOT_DIR=${ROOT_DATA_DIR}/pgadmin
PGADMIN_VERSION=6.19

# Mysql
# MYSQL_VERSION=latest
# MYSQL_PASSWORD=admin

# Minio
MINIO_DATA_DIR=${ROOT_DATA_DIR}/minio/data

# Registry
REGISTRY_DATA_DIR=${ROOT_DATA_DIR}/registry

# Runner
RUNNER_DATA_DIR=${ROOT_DATA_DIR}/runner

# MSSQL
# MSSQL_PORT=1433
MSSQL_DATA_DIR=${ROOT_DATA_DIR}/mssql
MSSQL_PASSWORD=<Password>


# Redash
REDASH_SECRET_KEY=...
REDASH_COOKIE_SECRET=...
GOOGLE_CLIENT_ID=redash
REDASH_PORT=5555
REDASH_DATABASE_URL="postgresql://postgres:${POSTGRES_PASSWORD}@postgres/redash"

# Mailhog
MAILHOG_ROOT_DATA_DIR=${ROOT_DATA_DIR}/mailhog

# Ollama
OLLAMA_BASE_URL=http://ollama:11434
#OLLAMAUI_PORT=3000
OLLAMAUI_ROOT_DIR=${ROOT_DATA_DIR}/ollamaui
